@import "../../assets/styles/variables";

.navBar {
    font-family: $primary-font;
    background-color: $secondary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 35px;

    &__logo {
        object-fit: contain;
        height: 50px;
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__link {
        text-transform: uppercase;
        text-decoration: none;
        color: $primary-color;
        font-weight: 800;
        letter-spacing: 1.5px;

        &:hover {
            text-decoration: underline;
            color: white;
        }
    }
}