@import "../../assets/styles/variables";

.contactNav {
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 35px;
    font-family: $primary-font;

    &__contact {
        display: flex;
        align-items: center;
        gap: 10px;
        &:hover {
            color: white;
        }

        &-icon {
            font-size: 20px;

            &:hover {
                color: white;
            }
        }

        &-text {
            font-size: 15px;
            font-weight: 500;

            // &:hover {
            //     color: white;
            // }
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 40px;
    }
}