@import "../../assets/styles/variables";

.serviceBanner {
    font-family: $secondary-font;
    padding: 15px;
    border: 2px solid $primary-color;
    min-height: 500px;
    height: fit-content;
    width: 300px;
    cursor: pointer; /* Add cursor pointer */

    &:hover {
        background-color: $primary-color;
        color: white !important;
    }

    &:hover,
    &.clicked {
        background-color: $primary-color;
        color: white;

        .serviceBanner__headings-subtitle {
            color: white;
        }

        .serviceBanner__points-container__icon {
            color: white;
        }
    }

    &__headings {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-title {
            font-weight: bold;
            font-size: 22px;
        }

        &-subtitle {
            color: $secondary-color;

            &:hover {
                color: white;
            }
        }
    }

    &-price {
        margin: 30px 0px;
        font-weight: lighter;
        font-size: 56px;
    }

    &__points {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: start;

        &-container {
            display: flex;
            gap: 15px;
            align-items: center;

            &__icon {
                font-size: 35px;
                color: $primary-color;

                &:hover {
                    color: white;
                }
            }

            &__texts {
                display: flex;
                gap: 10px;
            }
        }
    }
}
