@import "../../assets/styles/variables";

.reviewPage {
    font-family: $primary-font;

    &-title {
        font-weight: bolder;
        font-size: 1.6rem;
        color: $secondary-color;
    }

    &-subHeading {
        margin-bottom: 15px;
    }

    &-form {
        &-button {
            padding: 10px;
            border-radius: 16px;
            background-color: $primary-color;
            color: $secondary-color;
            border: none;
            font-weight: bold;
            font-size: 1rem;
            width: 80px;

            &:hover {
                cursor: pointer;
                background-color: white;
                color: $primary-color;
                border: 2px solid $primary-color;
            }
        }
    }
}