@import "../../assets/styles/variables";

.galleryPage {
    &-title {
        font-weight: bolder;
        font-size: 1.6rem;
        color: $secondary-color;
    }

    &__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        /* Compensate for excess margin on outer gallery flex items */
        // margin: 4rem 4rem;

        &-item {
            /* Minimum width of 24rem and grow to fit available space */
            flex: 1 0 18rem;
            /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
            margin: 1rem;
            box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
            overflow: hidden;

            &-image {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 400ms ease-out;

                &:hover {
                    transform: scale(1.15);
                }
            }
        }
    }
}
